/*-------FONT---------*/
@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('polices/caviardreams-webfont.woff2') format('woff2'),
         url('polices/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lemonmilkregular';
    src: url('polices/lemonmilk-webfont.woff2') format('woff2'),
         url('polices/lemonmilk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*--------GRID--------*/
body{
    display: grid;
    grid-template-columns: [one] 10% [two] 10% [three] 25% [four] 25% [five] 25% [six] 5%;
    grid-template-rows: [un] 5% [deux] 30% [trois] 30% [quatre] 30% auto [cinq] 5%;
    background-color:#B3B3B3;
}
/*--------------HEADER-----------*/
header{
    background-color:#666463;
    grid-column-start: one;
    grid-column-end: two;
    grid-row-start: un;
    grid-row-end:cinq;
    justify-self:stretch;
    font-family: 'lemonmilkregular';
    color:#B3B3B3;
    font-size:14px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    height:100vw;
    padding-top:13px;
    position:fixed;
}
/*-----
-------------GENERAL----------------*/
img{
    width:70px;
    height:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.titre{
    font-family: 'lemonmilkregular';
    font-size:20px;
    text-align: center;
    color:#666463;
}
span{
    font-family: 'caviar_dreamsregular';
    font-size:15px;
    text-align: left;
}
.lien{
    text-decoration: none;
    color:#666463;
}
.lien:hover{
    color:#3F2B75;
}
.lien2{
    font-family: 'lemonmilkregular';
    font-weight: lighter;
    display: block;
    text-align: center;
    font-size:12px;
    text-decoration: none;
    color:#666463;
}
.lien2:hover{
    color:#3F2B75;
}
/*-------------INSTAGRAM-------------*/
#instagram{
    grid-column-start: three;
    grid-column-end: four;
    grid-row-start: deux;
    grid-row-end: trois;
    justify-self: stretch;
    padding-right: 15px;
    opacity:0.25;
}
#instagram:hover{
    opacity: 1.0;
    transition: opacity 1s ease-out;
}
/*-------------TWITCH------------*/
#twitch{
    grid-column-start:four;
    grid-column-end: five;
    grid-row-start: deux;
    grid-row-end:trois;
    justify-self: stretch;
    padding-right: 15px;
    opacity:0.25;
}
#twitch:hover{
    opacity: 1.0;
    transition: opacity 1s ease-out;
}
/*--------------TWITTER-------------*/
#twitter{
    grid-column-start:five;
    grid-column-end: six;
    grid-row-start: deux;
    grid-row-end: trois;
    justify-self: stretch;
    opacity:0.25;
}
#twitter:hover{
    opacity: 1.0;
    transition: opacity 1s ease-out;
}